/* Navbar.module.css */

.navbar {
  background-color: #333;
  color: white;
  padding: 10px 0;
}

/* Apply classes to the <ul> and <li> elements */
.navList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listItem {
  display: inline;
  margin-right: 20px;
}

.btn-logo {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
}

.btn-blue {
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

.btn-grey {
  background-color: grey;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
}

/* Apply a class to the <img> element */
.navImg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.googleSignInImg {
  width: 20px; /* Adjust the desired width */
  height: 20px; /* Adjust the desired height */
  border-radius: 50%;
}
