
.progressBarCenterContainer {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
  }
  
  .progressBarContainer {
    width: 50%;
    background-color: #b8b3b3;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progressBar {
    height: 20px;
    background-color: #0852ac;
    transition: width 0.3s ease-in-out;
  }
  
  .progressBarFill {
    height: 100%;
    width: 0;
    background-color: #272b2b;
  }
  
  .progressText {
    display: block;
    margin-top: 5px;
    text-align: center;
    font-weight: bold;
    color: #333;
  }
  