/* Updated styles for the canvas container */
.todo {
  background-color: #ffffff;
  color: #fff;
  padding: 0px;
  margin: 0;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Updated styles for the input and button */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
}

.label {
  margin-right: 10px;
  color: #060000;
}


.button {
  background-color: #00bcd4;
  color: #fff;
  border: none;
  margin-left: 75px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover {
  background-color: #007acc;
}
